
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  background: #181818;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    /* background: #181818; */
    background: white;
    color: #333333;
  }

  fluent-design-system-provider {
    color: #333333;

    --accent-foreground-rest: #333333;
    --neutral-foreground-rest: #333333;
    --accent-fill-rest: #2E765E;
    --accent-fill-hover: #276751;
    --accent-fill-active: #1f664f;
    --accent-fill-focus: #276751;
    --focus-stroke-outer: #02452d;
    --accent-stroke-control-rest: linear-gradient(#2E765E 90%, #02452d 100%);
    --accent-stroke-control-hover: linear-gradient(#276751 90%, #02452d 100%);
    --accent-stroke-control-focus: linear-gradient(#276751 90%, #02452d 100%);
    --accent-stroke-control-active: #02452d;
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: white;
    color: #333333;
  }

  fluent-design-system-provider {
    color: #333333;
    --neutral-foreground-rest: #e5e5e5;
    --neutral-fill-input-rest: #e5e5e5;
    --neutral-fill-input-hover: white;
    --neutral-fill-stealth-rest: #e5e5e5;
    --neutral-fill-input-active: #e5e5e5;
    --accent-foreground-rest: #333333;
    --neutral-foreground-rest: #333333;
    --accent-fill-rest: #2E765E;
    --accent-fill-hover: #276751;
    --accent-fill-active: #1f664f;
    --accent-fill-focus: #276751;
    --focus-stroke-outer: #02452d;
    --accent-stroke-control-rest: linear-gradient(#2E765E 90%, #02452d 100%);
    --accent-stroke-control-hover: linear-gradient(#276751 90%, #02452d 100%);
    --accent-stroke-control-focus: linear-gradient(#276751 90%, #02452d 100%);
    --accent-stroke-control-active: #02452d;
  }

}
